.header {
    width: 100%;
    background-color: #535252;

    .container {
        min-height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .logo {
        display: flex;
        align-items: center;
        padding: 7px 20px;
        gap: 20px;

        .pharmacy {
            width: 8%;
            height: 8%;
        }

        .text-logo {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #fff;
        }
    }

    .btn-exit {
        padding: 7px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background-color: #dc3545;
        border-radius: 5px;
        border: none;
        color: #fff;

        &:hover {
            cursor: pointer;
            background-image: --webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        }
    }

    .btn-create {
        padding: 7px 20px;
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background-color: #0d6efd;
        border-radius: 5px;
        border: none;
        color: #fff;
        margin: 0 25px;

        &:hover {
            cursor: pointer;
            background-image: --webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: --ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        }
    }

    .show {
        display: flex;
    }

    .btn-non-authorised {
        display: flex;
        justify-content: flex-end;

        &:not(.show){
            display: none;
        }
        .btn-login {
            padding: 7px 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            background-color: rgb(8, 158, 8);
            border-radius: 5px;
            border: none;
            color: #fff;

            &:hover {
                cursor: pointer;
                background-image: --webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	            background-image: --moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	            background-image: --o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	            background-image: --ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	            background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            }
        }
    }

    .btns-authorised{
        &:not(.show){
            display: none;
        }
    }
}